body {
   background-color: #6d6aff;
   background-image:
	repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
	repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
	linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
	linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
   background-size: 70px 120px;
}

#arena {
   text-align: center;
   padding: 5px;
   width: 805px;
   height: 445px;
}

#wrapper {
   margin: 0 auto;
   margin-top: 10px;
   padding: 5px;
   width: 817px;
   height: 520px;
}
         
#score {
   font: 46px fantasy;
   text-align: center;
   color: #ff0;
   text-shadow: 2px 2px 4px rgba(0,0,80,1.0);

   -webkit-transition: opacity 0.5s;
   -moz-transition: opacity 0.5s;
   -o-transition: opacity 0.5s;
   transition: opacity 0.5s;
   
   display: none;
   opacity: 0;
}

#wrapper #header h1 {
   font: 26px fantasy;
   margin: 0 auto;
   padding: 0;
   margin-top: 20px;
   margin-bottom: 0px;
   color: #ddf;
   text-shadow: 1px 1px 2px rgb(0,0,0);
   color: navy;
   text-shadow: 1px 1px 1px rgb(235,235,235);
}

#game-canvas {
   position: relative;
   border: 2px inset rgba(0,0,80,0.62);

   -webkit-transition: opacity 0.5s;
   -moz-transition: opacity 0.5s;
   -o-transition: opacity 0.5s;
   transition: opacity 0.5s;

   -webkit-box-shadow: rgba(0,0,0,0.5) 8px 8px 16px;
   -moz-box-shadow: rgba(0,0,0,0.5) 8px 8px 16px;
   -o-box-shadow: rgba(0,0,0,0.5) 8px 8px 16px;
   box-shadow: rgba(0,0,0,0.5) 8px 8px 16px;
   
   display: none;
   opacity: 0;
}

#fps {
   position: absolute;
   margin-top: -45px;
   margin-left: 12px;
   z-index: 1;
   color: yellow;
   text-shadow: 1px 1px 1px rgb(0,0,80);
   font: bold 20px fantasy;
}

#loading {
	position: absolute;
	margin-top: 80px;
	width: 790px;
	font: 55px fantasy;
	text-align: center;
	
	-webkit-transition: opacity 2s;
	-moz-transition: opacity 2s;
	-o-transition: opacity 2s;
	transition: opacity 2s;
}

#runner-animated-gif {
	margin: 0 auto;
	border: thin solid rgba(0,0,255, 0.7);
	border-radius: 60px 60px 60px;
	padding: 30px;
	margin-top: 20px;
	
	background: -moz-radial-gradient(center, ellipse cover,  #1e5799 0%, #d6d6d6 50%, #207cca 76%, #d0dce5 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#1e5799), color-stop(50%,#d6d6d6), color-stop(76%,#207cca), color-stop(100%,#d0dce5)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #1e5799 0%,#d6d6d6 50%,#207cca 76%,#d0dce5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #1e5799 0%,#d6d6d6 50%,#207cca 76%,#d0dce5 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #1e5799 0%,#d6d6d6 50%,#207cca 76%,#d0dce5 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #1e5799 0%,#d6d6d6 50%,#207cca 76%,#d0dce5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#d0dce5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	-webkit-transition: opacity 5s;
	-moz-transition: opacity 5s;
	-o-transition: opacity 5s;
	transition: opacity 5s;
	
	opacity: 0;
	display: none;
}

#loading-title {
	padding-left: 40px;
	padding-bottom: 30px;
	color: #ff6;
	text-shadow: 2px 2px 4px rgb(0,0,0);
	
	-webkit-transition: opacity 5s;
	-moz-transition: opacity 5s;
	-o-transition: opacity 5s;
	transition: opacity 5s;
	
	opacity: 0;
	display: none;
}

#toast {
   position: absolute;
   margin-top: 120px;
   width: 820px;
   font: 40px fantasy;
   text-align: center;
   color: #ff6;
   text-shadow: 2px 2px 4px rgb(0,0,0);

   -webkit-transition: opacity 0.5s;
   -moz-transition: opacity 0.5s;
   -o-transition: opacity 0.5s;
   transition: opacity 0.5s;

   z-index: 1;
   opacity: 0;
   display: none;
}

#load-link {
   color: yellow;
   text-decoration: none;
   cursor: pointer;
}

#console {
	margin: 0 auto;
	opacity: 0;
	padding: 5px;
	height: 50px;
	width: 795px;
	bottom: 20px;
	border: 2px solid black;
}

.life-icon {
   -webkit-transition: opacity 0.5s;
   -moz-transition: opacity 0.5s;
   -o-transition: opacity 0.5s;
   transition: opacity 0.5s;
}

#lives {
	position: absolute;
	margin-top: 20px;
	margin-left: 25px;
	
	-webkit-transition: opacity 2s;
	-moz-transition: opacity 2s;
	-o-transition: opacity 2s;
	transition: opacity 2s;
	
	display: none;
	opacity: 0;
	
	z-index: 3;
}

.credits {
	position: absolute;
	margin-left: 50px;
	margin-top: 25px;
	padding-bottom: 20px;
	text-align: center;
	width: 630px;
	background: rgba(0,0,0,0.4);
	background: rgba(255,255,230,0.9);
	border: thin solid blue;
	padding-top: 20px;
	padding-left: 40px;
	padding-right: 40px;
	
	-webkit-transition: opacity 2s;
	-moz-transition: opacity 2s;
	-o-transition: opacity 2s;
	transition: opacity 2s;
	
	-webkit-box-shadow: rgba(0,0,0,0.5) 8px 8px 16px;
	-moz-box-shadow: rgba(0,0,0,0.5) 8px 8px 16px;
	-o-box-shadow: rgba(0,0,0,0.5) 8px 8px 16px;
	box-shadow: rgba(0,0,0,0.5) 8px 8px 16px;
	
	border-radius: 10px;
	
	opacity: 0;
	display: none;
	z-index: 2;
}

#credits a:hover {
	color: blue;
	text-shadow: 1px 1px 1px rgba(0,0,200,0.5);
}

#credits p {
	margin-top: 20px;
	margin-bottom: 10px;
	font: 24px fantasy;
	color: yellow;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
	color: blue;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
}

#credits .attribution {
	font: 17px fantasy;
	color: blue;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
}

#credits .title {
	margin-bottom: 10px;
	font-size: 25px;
	color: blue;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
}

#new-game-link {
	margin-top: 10px;
	float: right;
	margin-right: 20px;
	font-size: 0.9em;
}

#art-title {
	margin-top: 20px;
}

#sound-and-music {
	margin-top: 20px;
	
	-webkit-transition: opacity 5s;
	-moz-transition: opacity 5s;
	-o-transition: opacity 5s;
	transition: opacity 5s;
	
	display: none;
	opacity: 0;
}

#instructions {
	margin-left: 198px;
	padding-left: 10px;
	padding-top: 10px;
	
	-webkit-transition: opacity 5s;
	-moz-transition: opacity 5s;
	-o-transition: opacity 5s;
	transition: opacity 5s;
	
	color: #ff0;
	font-size: 0.95em;
	display: none;
	opacity: 0;
}

.keys {
	color: blue;
	text-shadow: 1px 1px 1px rgba(255,255,0,1.0);
	background: rgba(0,0,0,0.1);
	border: thin solid rgba(0,0,0,0.2);
	border-radius: 5px;
	margin-left: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
	
	display: inline-block;
	float: left;
	background: url('images/background.png');
}

.checkbox-div {
	display: inline;
	text-shadow: 1px 1px 1px blue;
}

#sound-checkbox-div {
	margin-right: 10px;
}
